*{
    margin: :0;
    padding: 0;
    font-family: sans-serif;
    background:#42455a;
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory
}

    
}

.container{
    width: 100%;
    height: 100%;
    background:#42455a;
    overflow-y: scroll;
    display: flex;

    
}


.menu ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
    
}
.menu ul li{
    list-style: none;
    margin: 0 10px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 0.4em;
    text-align: center;
    
    
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
}
.menu ul li a:hover{
    color:palevioletred;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
    
    
}


section h1{
    font-size: 4vw;
    margin-top: 100px;
    margin-left: 10px;
    position: relative;
}

section p{
    width: 40%;
    height: 300px;
    font-size: 1.3vw;
    color: #fff;
    margin-top: 50px;
    margin-left: 10px;
     position: relative;
    
}

.button{
    top: 40px;
    font-size: 1.0vw;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color:#fff;
    border: 2px solid transparent;
    border-radius: 8px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, palevioletred,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.button span{
    display:flex;
    padding: 7px 7px;
    border-radius: 7px;
    
}
.banner{
    width: 80%;
    height:70%;
    top:30%;
    left: 100px;
    position:absolute;
    color:#fff;
}

.app-text{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

.app-text h1{
    
    width: 100%;
    margin-bottom: 35px;
    font-size: 5vw;
   
    
    
}
.app-text h2{
    width: 100%;
    margin-top: -20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    display: inline-flex;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke:1px white; 
      font-size: 5vw;
}


.picture{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    padding-left: 5vw;
    padding-bottom: 30vw;
    margin-top: -1vw
}
.picture img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
 
    
      
}
@media all and (min-width: 600px){
    .menu ul li{
        font-size: 1em;
    }
    
}


}