*{
    margin: 0px;
    padding: 0px;
    
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #42455a;
  color: #fff;
    

}
h1{
    padding-top: 20%;
    padding-left: 5%;
    font-size: 5vh;
    font-family: 'Archivo bold', sans-serif;
   
    
}

h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:1px white; 
    font-size: 5vh;
     font-family: 'Archivo Black', sans-serif;
   
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    background-color:#908090;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu li {
    list-style: none;
    
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
    font-family: sans-serif;
    
}
.menu a:hover{
    color:#42455a;
}
.img-content{
    width: 100%;
   padding-top: 105%;
  align-content: center;
    

    
}
.img-content img{
    width: 100%;
    
    
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    
    
   
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    width: 100%;
    
    background-color:#908090;
    
}
   h1{
    padding-top: 40%;
    padding-left: 5%;
    font-size: 5.2vh;
}
    h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:1px white; 
    font-size: 5.2vh;
    font-family: 'Archivo Black', sans-serif;
}
    .menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
    .menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
        
}
    .menu a:hover{
    color:#42455a;
}
.img-content{
    display: flex;
    justify-content: center;
    padding-top: 70%;
   
    
    
}
.img-content img{
    width: 80%;
    height: 80%; 
}
   
    .menu li{
     color:#fff;
    }
    
    }

