*{
    margin: 0px;
    padding: 0px;
    
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #42455a;
  color: #fff;
    

}
h1{
    padding-top: 25%;
    padding-left: 5%;
    font-size: 4.3vh;
   font-family: 'Candal', sans-serif;
   
    
}

h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:.5px white; 
    font-size: 4.6vh;
    letter-spacing: 1px;
     font-family: 'Alfa Slab One', cursive;
   
}
   p{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 10%;
    font-size: 2em;
    font-family: 'Jost', sans-serif;
    line-height: 60px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    
    background-color:#908090;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu li {
    list-style: none;
    
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
    font-family: 'Jost', sans-serif;
    
}
.menu a:hover{
    color:#42455a;
}
.img-content{
    width: 100%;
   padding-top: 45%;
  justify-content: center;
    

    
}
.img-content img{
    width: 102%;
    
    
}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    
    
   
    nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    width: 100%;
    
    background-color:#908090;
    
}
   h1{
    padding-top: 40%;
    padding-left: 5%;
    font-size: 4.3vh;
    font-family: 'Candal', sans-serif;
}
    h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:1px white; 
    font-size: 4.5vh;
   font-family: 'Alfa Slab One', cursive;
}
        p{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2em;
    font-family: 'Jost', sans-serif;
}
    .menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
    .menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
        
}
    .menu a:hover{
    color:#42455a;
}
.img-content{
    display: flex;
    justify-content: center;
    padding-top: 5%;
   
    
    
}
.img-content img{
    width: 105%;
    height: 105%; 
   
}
   
    .menu li{
     color:#fff;
    }
    
    }

