*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #42455a;
  color: #fff;
    

}
h1{
    padding-top: 10%;
    padding-left: 5%;
    font-size: 12vh;
    font-family: 'Archivo bold', sans-serif;
   
    
}

h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:2px white; 
    font-size: 10vh;
     font-family: 'Archivo Black', sans-serif;
   
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
    background-color:#908090;
    
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.menu li {
    list-style: none;
    
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
    
}
.menu a:hover{
    color:#42455a;
}
.img-content{
    width: 100%;
   padding-top: 60%;
    

    
}
.img-content img{
    width: 100%;
    
    
}


@media screen and (max-width:600px){
    
   h1{
    padding-top: 40%;
    padding-left: 5%;
    font-size: 6vh;
}
    h2{
    padding-left: 5%;
    
     -webkit-text-fill-color:transparent;
    -webkit-text-stroke:2px white; 
    font-size: 6vh;
    font-family: 'Archivo Black', sans-serif;
}
    .menu{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
    .menu a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
        
}
    .menu a:hover{
    color:#42455a;
}
.img-content{
    width: 140%;
    display: flex;
    justify-content: center;
    padding-top: 48%;
    padding-right: 20%;
    
    
}
.img-content img{
    width: 100%;
    height: 100%; 
}
   
    .menu li{
     color:#fff;
    }
    
    }
}
